<div class="jumbotron center">
  <h1>Welcome <small> Home page </small></h1>
  <p>Sign in to add a pin</p>
  <p>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-default" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
  </p>
</div>