<h1>Contact Us</h1>
<p>This would be a contact page.</p>

<p>Below are some sample buttons:</p>
  
    <!-- Standard button -->
    <button type="button" class="btn btn-default"><%= link_to "Home", root_path %></button>

    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <%= link_to "About with ERB", about_path, class: "btn btn-primary"%><span class="badge">5</span>

    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-success">Success</button>

    <!-- Contextual button for informational alert messages -->
    <button type="button" class="btn btn-info">Info</button>

    <!-- Indicates caution should be taken with this action -->
    <button type="button" class="btn btn-warning">Warning</button>

    <!-- Indicates a dangerous or potentially negative action -->
    <button type="button" class="btn btn-danger">Errors <span class="badge">4</span></button>

    <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
    <button type="button" class="btn btn-link">Link</button>

    <hr />

    <%= link_to "Ruby-coded button", root_path, class: "btn btn-primary" %>